* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

ul, li {
  list-style: none;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #EEEFF1;
}
